h1{
    color:darkgoldenrod;
    font-family: "Impact";
    text-align: center;
    background-color: aquamarine;
}

h2{
    color:darkgoldenrod;
    font-family: "Impact";
    text-align: center;
    background-color: aqua;
}
h3{
    color: blue;   
}
p1{
    color: darkslateblue;
}
h4{
    color: yellow;
}
p2{
    color: fuchsia;
}
h5{
    color:darkgoldenrod;
    font-family: "Impact";
    text-align: center;
    background-color: greenyellow;
}

p{
    font-size:25px;
    font-weight: bold;
}

body{
    background-image: url("../images/02.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}